<div class="data-wrapper" *ngIf="dataLoaded">
    <figure>
        <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
        <figcaption>{{temperature}}°C</figcaption>
    </figure>
    <figure style="--c:#fff5">
        <img src="https://picsum.photos/id/475/250/300" alt="Mountains">
        <figcaption>{{humidity}}%</figcaption>
    </figure>
    <figure style="--c:#fff5">
        <img src="https://picsum.photos/id/475/250/300" alt="Mountains">
        <figcaption>{{dewpoint}}</figcaption>
    </figure>
</div>
